
a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #c8e6c9;
}

button {
  background-color: #97b498;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: 4px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0px;
  text-align: left;
}

p {
  font-size:18px;
  opacity: 0.8;
  background-color: #97b498;
  border-radius: 2px;
  padding-left: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-style: italic;
}

textarea {
  margin-top: 4px;
  width: 100%;
  height: auto;
}

h2 {
  background-image: url("chess3.jpg");
  background-color:  #97b498;
  padding: 1em;
  border-radius: 5px;
  text-align: left;
  margin-bottom:0px;
  margin-bottom: 2px;
  font-size: 22px;
  color: #d1e0e0;
  background-size: cover;
}

.select {
  color: black;
  background-color: #fbfffc;
}

.reacties {
  font-size: 14px;
  color: gray;
  padding: 6px;
  margin-top: 5px;
}

.blogtext {
  padding: inherit;
  font-size: 16px;
}

.categorieoutput {
  font-size: 12px;
  text-align: right;
  margin-top: 0px;
}

.reactiebutton {
  float: right;
  border-radius: 4px;
  font-size:12px;
}

#titel, .reactionsinput {
  width: 100%;
  height: auto;
  border: 1px solid #97b498;
  border-radius:5px;
  margin-top: 4px;
  margin-bottom:4px;
  padding-top:4px;
  padding-bottom: 4px;
  font-size:18px;
}

#topmenu {
  padding-left:2em;
  background-color: #fbfffc;
  border-radius:5px;
}

#container{
  margin-left:  5em;
  margin-right: 5em;
  width: 80%;
  height: auto;
  clear: both;
}
#main {
  padding: 0.8em;
  background-color: #fbfffc;
  border-radius: 5px;
  border:1px solid #97b498;
}

#main2 {
  padding: 5px;
  background-color: #fbfffc;
  border-radius: 5px;
  border:1px solid #97b498;
  margin-left: 10%;
}

#form {
  margin-right: 20%;
  width: 80%;
}

#sheet {
  width: 15%;
  float: right;
  margin-top: 4px;
  border: 1px solid  #97b498;
  padding: 6px;
  border-radius: 4px;
  font-size: 14px;
}
#sheet2 {
  width: 15%;
  float: right;
  margin-top: 4px;
  border: 1px solid  #97b498;
  padding: 6px;
  border-radius: 4px;
  font-size: 14px;
}

#menu {
  border: 1px solid #97b498;
  background-color: #fbfffc;
  float: left;
  width: 9%;
  opacity: 0.8;
  border-radius: 4px;
  padding-top: 1em;
  padding-right: 3px;
  height: 10em;
}

@media screen and (max-width: 1000px) {
  #main2 {width: 98%;
          margin-left: 0px;

  }
  #menu {
    width: 99%;
    height: auto;
    padding-top: 0px;
  }

}
